<launch>

  <include file="$(find manipulation_worlds)/launch/pr2_table_object.launch"/>

  <node name="spawn_wall1" pkg="gazebo" type="spawn_model" args="-urdf -file $(find nav_pick_place_demo)/objects/long_wall.urdf -model wall_1 -x 7.7" respawn="false" output="screen"/>

  <node name="spawn_wall2" pkg="gazebo" type="spawn_model" args="-urdf -file $(find nav_pick_place_demo)/objects/long_wall.urdf -model wall_2 -Y 1.570796 -y 7.7" respawn="false" output="screen"/>

  <node name="spawn_wall3" pkg="gazebo" type="spawn_model" args="-urdf -file $(find nav_pick_place_demo)/objects/long_wall.urdf -model wall_3 -x -7.7" respawn="false" output="screen"/>

  <node name="spawn_wall4" pkg="gazebo" type="spawn_model" args="-urdf -file $(find nav_pick_place_demo)/objects/long_wall.urdf -model wall_4 -Y 1.570796 -y -7.7" respawn="false" output="screen"/>

  <node name="spawn_wall5" pkg="gazebo" type="spawn_model" args="-urdf -file $(find nav_pick_place_demo)/objects/short_wall.urdf -model wall_5 -x -3.0 -y -5.0" respawn="false" output="screen"/>

  <node name="spawn_box1" pkg="gazebo" type="spawn_model" args="-urdf -file $(find nav_pick_place_demo)/objects/box.urdf -model box_1 -x -6.0 -y -1.0" respawn="false" output="screen"/>

</launch>